{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-white text-center mb-4">Login Form</h2>
    
    <form method="POST" class="bg-dark p-4 rounded shadow">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-lg w-100" type="submit">Submit</button>
    </form>
    
    <p class="text-center text-white mt-3">Don't have an account? 
        <a href="{% url 'register' %}" class="text-primary">Register Here</a>
    </p>
</div>
{% endblock %}
